.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.product-recommendations:not(.product-recommendations--loaded) {
  background: var(--color-base-background-1);
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
}

.product-recommendations:not(.product-recommendations--loaded) .product-recommendations__heading,
.product-recommendations:not(.product-recommendations--loaded) .grid {
  display: none;
}
